package-lock=true
min-release-age=7 # requires npm 11.10.0+
min-release-age-exclude[]=puppeteer
min-release-age-exclude[]=puppeteer-core
min-release-age-exclude[]=@puppeteer/browsers
min-release-age-exclude[]=chrome-devtools-frontend


allow-scripts[]=@google/genai
allow-scripts[]=core-js
allow-scripts[]=protobufjs
allow-scripts[]=puppeteer
allow-scripts[]=unrs-resolver
